<!DOCTYPE html>
<html>
<head>
	<title>前台登录页</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="../css/common.css">
</head>
<body>
	<div id="pageReg">
		<form action="/api/register" method="post">
			<div>
				<label>username:</label>
				<input type="" name="username">
			</div>
			<div>
				<label>password:</label>
				<input type="" name="password">
			</div>
			<div>
				<label>password 2:</label>
				<input type="" name="password2">
			</div>
			<div>
				<button>register</button>	
			</div>
		</form>
	</div>
</body>
</html>